#startScreen {
    margin-top: 30px;
    top: 0;
    left: 0;
    width: 896px;
    height: 512px;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    margin-left: 15px;
}


#board {
    margin-top: 30px;
    background-image: url(back3.png);
}

.jersey-15-regular {
    font-family: "Jersey 15", sans-serif;
    font-weight: 400;
    font-style: normal;
  }

/* animations */
@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#dogImage1 {
    cursor: pointer;
    transition: transform 3s ease-in-out; /* Smooth transition for other transformations */
}

#dogImage1.rotated {
    transform: rotate(360deg); /* Direct transformation, removed animation for clarity */
}

